
@{
    ViewBag.Title = "SizeError";
}

    <div class="content-box-large">
        <h2 style="color: red;text-align: center">注意！檔案大小不可大於4MB</h2>

        <a href="javascript:history.back();">回到上一頁</a>
    </div>
